/*ITIS 3135 Activity 2 css file*/

/*styling for the table goes here*/
body
{
	width: 750px;
	margin: 0 auto;
	text-align: center;
}

table
{
	border-collapse: collapse;
	text-align: center;
	margin: 20px;
}

thead
{
	background-color: black;
}
figure
{
	text-align: center;
	
}


th, td
{
	border: 1px solid rgb(2, 2, 107);
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
	text-align: center;
}
h3 {
	text-align: center;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(even) td
{
	background-color: darkblue;
}

tbody tr:nth-child(odd) td
{
	background-color: lightgoldenrodyellow;
}

footer, header
{

font-weight: bold;
text-align: center;
}



