body
{
	width: 750px;
	margin: 0 auto;
	background-color: burlywood;
	text-align: justify;
	
}



table
{
	border-collapse: collapse;
	
	margin: 20px;
}


thead
{
	background-color: black;
}

th, td
{
	border: 1px solid rgb(2, 2, 107);
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(even) td
{
	background-color: darkblue;
}

tbody tr:nth-child(odd) td
{
	background-color: lightgoldenrodyellow;
}
footer {
	text-align: center;
}



/*my coding*/



header{
	text-align: center;
}

nav {
	text-align: center;
}
h3, h2{
	text-align: center;
}


figure:hover {
	transform: scale(1.1);
}
figure{
	padding: 5px 50px 5px 50px;
}



a:hover{
	color: red;
}
nav:hover {
	transform: scale(1.1);
	
}
ol:hover{
	transform: scale(1.1);
}


