

body 
{
    font-family: 'Franklin Gothic Medium';
    
    background-color: orange;
	margin-left: 50px;
	margin-right: 50px;
}


footer
{
color: yellow;
font-weight: bold;
text-align: center;


padding-top: 25px;
padding-bottom: 25px;

}

header
{
color: yellow;
font-weight: bold;
text-align: center;
}

.ol{
	padding-left: 100px;
	padding-right: 100px;
}
li{
	padding-top: 5px;
	padding-bottom: 5px;

}

.li{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 325px;
	margin-right: 325px;
}

figure, section
{
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}



nav
{
	text-align: center;
}

h2, h3
{
	text-align: center;
}
.div{
	margin-left: 325px;
	margin-right: 325px;
}

.p{
	margin-left: 275px;
	margin-right: 275px;
}
a{
	color: black;
}


/*first-script*/

/*
 https://coolors.co/31393c-2176ff-33a1fd-fdca40-f79824   
 
 https://coolors.co/c2f970-44344f-564d80-98a6d4-d3fcd5
 */

.psc{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    /*this should make sure that it is centered*/
    justify-content: center;
	margin-left: 10px;
	margin-right: 10px;
    color: #44344F;
}

.body{
	text-align: center;
}



