

body 
{
    font-family: 'Franklin Gothic Medium';
    
    background-color: red;
	margin-left: 70px;
	margin-right: 70px;
}


footer
{
color: yellow;
font-weight: bold;
text-align: center;
}

header
{
color: yellow;
font-weight: bold;
text-align: center;
}

figure
{
	text-align: center;
	
}


nav
{
	text-align: center;
}

h2
{
	text-align: center;
}