/*
 https://coolors.co/31393c-2176ff-33a1fd-fdca40-f79824   
 
 https://coolors.co/c2f970-44344f-564d80-98a6d4-d3fcd5
 */


 body{
    background-color: #FDCA40;
    text-align: center;
    color: #31393C;
}


#header{
    display: flex;
    flex-direction: column;
    grid-template-columns: 45px;
}

footer,header {
    text-align: center;
    color: #31393C;
}

.p{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    /*this should make sure that it is centered*/
    justify-content: center;
   
    color: #44344F;
}

p{
	margin-left: 10px;
	margin-right: 10px;

}
nav
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.input1
{
    margin-left: 100px;
}

/*This code below this line is solely meant for the tables for this one.*/
.p1{
    text-align: left;
    padding-left: 200px;
    padding-right: 1000px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p2{
    text-align: left;
    padding-left: 350px;
   padding-right: 20px;
}
#button:hover{
	background-color: burlywood;
	color: darkblue;
    padding: 5px 5px 5px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
