body{
    background: gray;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blanchedalmond;
    

}
#text{
    margin-left: 35%;
    margin-right: 35%;
}


a:link { 
    text-decoration: none; 
    padding-left: 16px;
    padding-right: 16px;
    

    
}
footer{
    text-align: center;
    border: solid;
    color: blanchedalmond;
    font-size: 15px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15px;
    margin-bottom: 10px;
   

    
    position: relative;

}

#reviewparagraph{
    margin-left: 35%;
    margin-right: 35%;
}

.slideshowli{
	
	
	margin-right: -1300px;
	margin-left: -1350px;
}

a{
    color: blanchedalmond;
}

.homemenu{
    border: solid;
    color: blanchedalmond;
    margin-left: 36%;
    margin-right: 38%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.homeimage{
    margin-left: 41.5%;
    margin-right: 41.5%;
    
}



h1{
    margin-left: 38%;
    margin-right: 35%;
}
h2{
    
    margin-left: 46.5%;
    margin-right: 44.5%;
}
h4{
    margin-left: 46%;
    margin-right: 46%;
}
.p{
    
    margin-left: 40%;
    margin-right:40%;
    
}
figcaption{
    margin-left: 47%;

}
.image{
    margin-left: 33.5%;
    margin-right:36.5%;
}


#caption{
    padding-top: 5px;
    margin-left: 35%;
    margin-right:35%;
    
}
.payment{
    text-align: center;
    border: solid;
    width: 300px;
    margin-left: 40%;
    margin-right: 40%;
}

.align{
    text-align: left;
    position: relative;
    left: 100px;
}

input{
margin-top: 5px;
margin-bottom: 5px;
}
#van{
    position: relative;
    left: -5px;
}

.bx-wrapper {
	margin-bottom: 20px;
}
.body {
	
	width: 540px;
	margin: 0 auto;
    
    padding: 20px;
   left: 20px;
   position: relative;
}

#slider{
    
    position: relative;
}
#id_pager{
    text-align: center;
    position: relative;
}

.interactpictures{
   text-align: center;
    border-color: black;
    border: solid;
    width: 200px;
    height: 200px;

margin-left:600px;
margin-right: 600px;

position: absolute;
bottom: 400px;
left: 700px;

}

.interactiveanchor{
    text-align: center;
    
}